@import '../../../shared/variables.scss';
@import '../page.component.scss';

.title {
  text-align: center;
}

.content {
  text-align: center;
  margin: 1rem 0rem;
}

.gray {
  color: $gray;
}

.animated-image {
  position: relative;
  transform: scale(1);
  transition: 0.2s;
  z-index: 1;
  &:hover {
    position: relative;
    transform: scale(1.2);
    z-index: 999;
  }
}