<div class="page-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <div class="title">LATEST PROJECTS</div>
          <div class="content gray">Contact TOKTOKTOK Carpentry Today.</div>
          <div class="separator"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 p-3" *ngFor="let imageLink of imageLinks; index as i">
        <img src="{{imageLink}}" class="animated-image img-thumbnail" alt="IMG{{i}}">
      </div>
    </div>
  </div>
</div>