@import '../../shared/variables.scss';


.footer-container {
  background-color: rgba(0, 0, 0, 0.8);
  padding-bottom: 4rem;

  .title {
    color: $yellow;
    font-size: 1.8rem;
    margin: 6rem 0 2.6rem;
  }

  .footer-nav {
    list-style: none;
    padding-left: 0;
    line-height: 2;
  }

  .text {
    color: white;
    font-size: 1.7rem;

    &.contact {
      color: $gray;
    }
  }

  .text-link {
    color: white;
    font-size: 1.7rem;
    cursor: pointer;
    text-decoration: none;
  }

  .text-link:hover {
    color: $yellow;
    font-size: 1.7rem;
    cursor: pointer;
    text-decoration: none;
  }

  .read-more {
    border: 0;
    background-color: rgb(0,0,0,0.0);
    color: $yellow;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .icon {
    color: $yellow;
    margin-right: 1rem;
  }

  .link {
    color: $yellow;
    text-decoration: none;
    font-size: 1.7rem;
    cursor: pointer;
  }

  .link:hover {
    color: $gray;
    cursor: pointer;
  }

  .link-icon {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 1.7rem;
    padding: 1rem;
    cursor: pointer;
  }

  .link-icon:hover {
    background-color: $yellow;
    cursor: pointer;
  }
}

.footer-copyright-container {
  text-align: center;
  background-color: #1c1c1e;

  p {
    margin: 3.0rem 0;
    color: #b5b5b4;
    font-size: 1.6rem;
  }
}