<div class="about-container">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <img src="../../../assets/images/jpg/TOKTOKTOK.jpg" alt="image" class="img-fluid">
      </div>
      <div class="col-md-7">
        <div class="about-description">
          <h2 class="title">ABOUT US - TOKTOKTOK CARPENTRY</h2>
          <p class="content">TokTokTok was founded in 2020 as the father and son decided to open up a workshop to
            service their long-time customers. Driven by a passion to inherit his father's craft, Alan, the co-founder of
            the company, started his apprenticeship at age 19. With over 50 Years of craftsmanship combined, they strive
            to achieve one goal: to craft beautiful, durable and timeless furniture for people.</p>
        </div>
      </div>
    </div>
  </div>
</div>>