.toktoktok-logo {
  background-image: url('../assets/images/toktoktok-logo.svg');
  width: 7rem;
  height: 7rem;
}

.home-background {
  background: url('../assets/images/home.svg') no-repeat center center;;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  height: 100%;
  width: 100%;
}

.page-container {
  width: 100%;
}

.space-btwn {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

$yellow: #FFCF09;
$gray: #bcbcbc;