<div class="page-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <div class="separator"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card border border-0">
          <img class="rounded animated-image" src="./../../../assets/images/jpg/services_1.jpeg" alt="KITCHENS">
          <div class="card-body">
            <h5 class="card-title title">KITCHENS</h5>
            <div class="separator left-align"></div>
            <p class="card-text content">
              We construct kitchens in whatever design, colour, and cabinet size you may require. The best suppliers
              in the business are used for all of the materials.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card border border-0">
          <img class="rounded animated-image" src="./../../../assets/images/jpg/services_2.jpeg" alt="WARDROBES">
          <div class="card-body">
            <h5 class="card-title title">WARDROBES</h5>
            <div class="separator left-align"></div>
            <p class="card-text content">
              We'll make sure you receive the built-in or walk-in wardrobe of your dreams, whether it's made of
              traditional wood or covered in modern fabric. The wardrobes can be built in any materials and fit any
              space in your house.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card border border-0">
          <img class="rounded animated-image" src="./../../../assets/images/jpg/services_3.jpeg" alt="BATHROOMS">
          <div class="card-body">
            <h5 class="card-title title">BATHROOMS</h5>
            <div class="separator left-align"></div>
            <p class="card-text content">
              Our team of experts in bathrooms are fully aware of the best supplies and methods to use to improve the
              appearance and durability of your bathroom.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card border border-0">
          <img class="rounded animated-image" src="./../../../assets/images/jpg/services_4.jpeg" alt="CARPENTRY">
          <div class="card-body">
            <h5 class="card-title title">CARPENTRY & FURNITURE REPAIRS</h5>
            <div class="separator left-align"></div>
            <p class="card-text content">
              Want to restore your expensive wooden furniture, shelvings and cabinets instead of replacing them? At
              TOKTOKTOK Carpentry, we value restoring furniture that holds history and sentimental values. Call us
              today for your repair and restoration needs.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>