@import '../../../shared/variables.scss';
@import '../page.component.scss';

.animated-image {
  object-fit: cover;
  min-width: 30rem;
  height: 30rem;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  &:hover {
    min-width: 35rem;
    height: 35rem;
  }
}